[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiosmtpd = "*"
aiosmtplib = "*"
aiosqlite = "*"
aiofiles = "*"
aiospamc = "*"
toml = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-runner = "*"


[requires]

python_version = "3.6"
